<div class="col mb-5">
        <div class="card h-100">
                <div class="product-img-wrapper">
                        <!-- Product image-->
                        <img class="card-img-top" src="{{ product.get_thumbnail_url }}"
                                alt="{{ product.get_thumbnail_alt }}" />
                </div>
                <!-- Product details-->
                <div class="card-body p-4">
                        <div class="text-center">
                                <!-- Product name-->
                                <h5 class="fw-bolder">{{ product.name }}</h5>
                                <!-- Product price-->
                                ¥{{ product.price }}
                        </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                                <a class="btn btn-outline-dark mt-auto" href="{{ product.get_absolute_url }}">
                                        詳細を見る
                                </a>
                        </div>
                </div>
        </div>
</div>
