<div class="col mb-5">
        <div class="card h-100">
                <div class="product-img-wrapper">
                        <!-- Product image with link -->
                        <a href="{{ product.get_absolute_url }}">
                                <img class="card-img-top" src="{{ product.get_thumbnail_url }}"
                                        alt="{{ product.get_thumbnail_alt }}" />
                        </a>
                </div>
                <!-- Product details-->
                <div class="card-body p-4">
                        <div class="text-center">
                                <!-- Product name with link -->
                                <a href="{{ product.get_absolute_url }}" class="text-decoration-none text-dark">
                                        <h5 class="fw-bolder">{{ product.name }}</h5>
                                </a>
                                <!-- Product price-->
                                ¥{{ product.price }}
                        </div>
                </div>
                <!-- Product actions-->
                <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center">
                                <form action="{% url 'ecsite:cart_add' product.id %}" method="post" class="d-inline">
                                        {% csrf_token %}
                                        <input type="hidden" name="quantity" value="1">
                                        <button type="submit" class="btn btn-primary">
                                                <i class="bi-cart-plus me-1"></i>カートに追加
                                        </button>
                                </form>
                        </div>
                </div>
        </div>
</div>
